{% extends 'base.html' %}

{% block title %}<title>Login page</title>{% endblock title %}
{% block header %}
            <div id="header">
            <div class="container">
                <div class="logo"><img src="{{STATIC_URL}}images/logo.png"/></div>
                <div class="menu">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
{% endblock header%}    
{% block container %}
            <div class="container">
            <div class="content">
                <div class="login">
                    <h2><img src="{{STATIC_URL}}images/500.png" alt=" "/>{{message}}</h2>
                    <form id="login" action="#" method="post">
                        <h3></h3>
                        <br/>
                        <h3>{{message}}</h3>                        
                        <br/>
                        <div class="cover2" style=" margin-top: 5%;"><a href="/view-report/" class="btn" style="margin-left:35%;">Try Again</a></div>
                    </form>
                </div>
                <div id="shadow1"></div>
            </div>
            <div id="shadow"></div>
        </div>
{% endblock container %}


